<app-dashboard-nav></app-dashboard-nav>
<div class="container-fluid">
    <div class="card">
        <div class="card-header" style="font-size: large;">
            <div class="row align-items-center">
                <div class="col-3">
                    <span>{{title}}</span>
                    <i class="fa fa-plus mx-2" aria-hidden="true" title="Upload Excel"></i>
                </div>
                <div class="col-9">
                    <a [routerLink]="['add']">
                        <button type="button" class="btn btn-sm float-right cmp-bg-primary txt-primary">New</button>
                    </a>
                    <button type="button" class="btn btn-sm float-right cmp-bg-primary mx-2 txt-primary" title="Delete Multiple Records">Delete</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table datatable [dtTrigger]="dtTrigger" class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Weight</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Batch No.</th>
                            <th scope="col">Purchase Rate</th>
                            <th scope="col">Mrp. Rate</th>
                            <th scope="col">Selling Rate</th>
                            <th scope="col">Selling Margin</th>
                            <th scope="col">Active</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of inventory">
                            <td>
                                <input type="checkbox" (change)="changeSelection($event, item.id)">
                            </td>
                            <td>{{item.Name}}</td>
                            <td>{{item.StockCategorySNo}}</td>
                            <td>{{item.Weight}}</td>
                            <td>{{item.Quantity}}</td>
                            <td>{{item.BatchNo}}</td>
                            <td>{{item.PurchaseRate}}</td>
                            <td>{{item.MrpRate}}</td>
                            <td>{{item.SellingRate}}</td>
                            <td>{{item.SellingMargin}}</td>
                            <td>{{item.IsActive? 'Yes' : 'No'}}</td>
                            <td>
                                <a [routerLink]="['edit', item.id]"><i class="fa fa-pencil-square-o fa-lg mx-2 txt-secondry" aria-hidden="true" title="Edit"></i></a>
                                <i class="fa fa-trash fa-lg mx-2 txt-secondry" (click)="delete(item.id)" aria-hidden="true" title="Delete"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>