version: "3.1"

services:
  mysql:
    image: mysql
    ports:
      - 3307:3306
    volumes:
      - D:\dockdb:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=sahara
    restart: always
    
  # mongodb:
  #   image: mongo
  #   ports: 
  #     - 27017:27017
  #   environment:
  #     - MONGO_INITDB_ROOT_USERNAME=admin
  #     - MONGO_INITDB_ROOT_PASSWORD=admin
  # mongo-express:
  #   image: mongo-express
  #   ports:
  #       - 8081:8081
  #   environment:
  #     - ME_CONFIG_MONGODB_SERVER=mongodb
  #     - ME_CONFIG_MONGODB_ADMINUSERNAME=admin 
  #     - ME_CONFIG_MONGODB_ADMINPASSWORD=admin
  #   depends_on:
  #     - mongodb
    

  
