<app-dashboard-nav></app-dashboard-nav>
<div class="container-fluid">
    <div class="card">
        <div class="card-header" style="font-size: large;">
            <div class="row align-items-center">
                <div class="col-3">
                    <span>{{title}}</span>
                    <i class="fa fa-plus mx-2" aria-hidden="true" title="Upload Excel"></i>
                </div>
                <div class="col-9">
                    <a [routerLink]="['add']">
                        <button type="button" class="btn btn-sm float-right cmp-bg-primary txt-primary">New</button>
                    </a>
                    <button type="button" (click)="deleteMultipleRecords()" class="btn btn-sm float-right cmp-bg-primary mx-2 txt-primary" title="Delete Multiple Records">Delete</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table datatable [dtTrigger]="dtTrigger" class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Code</th>
                            <th scope="col">Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let productCat of productCategories">
                            <td>
                                <input type="checkbox" (change)="changeSelection($event, productCat.id)">
                            </td>
                            <td>{{productCat.Code}}</td>
                            <td>{{productCat.Name}}</td>
                            <td>{{productCat.IsActive? 'Yes' : 'No'}}</td>
                            <td>
                                <a [routerLink]="['edit', productCat.id]"><i class="fa fa-pencil-square-o fa-lg mx-2 txt-secondry" aria-hidden="true" title="Edit"></i></a>
                                <i class="fa fa-trash fa-lg mx-2 txt-secondry" (click)="delete(productCat.id)" aria-hidden="true" title="Delete"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>