.login-form{
    margin-top: 15%;
}

.login-form-width{
    width: 100%;
}

.title{
    font-size: 1.1rem;
}

.login-card{    
    width: 500px;
    margin: auto;
}

.action-sec{
    width: 48%;
}

.action-sec a{
    font-size: .8rem;
    color: black;
}

@media only screen and (max-width: 786px) {
    .login-form{
        margin-top: 50%;
    }

    .login-card {
        width: 100%;
    }
}