<app-dashboard-nav></app-dashboard-nav>
<div class="container">
    <form [formGroup]="editForm" (ngSubmit)="edit()">
        <div class="card">
            <div class="card-header" style="font-size: large;">
                <div class="row align-items-center">
                    <div class="col-3">
                        <span>{{title}}</span>
                        <i class="fa fa-plus mx-2" aria-hidden="true" title="Upload Excel"></i>
                    </div>
                    <div class="col-9">
                        <button type="submit" [disabled]="!editForm.valid" class="btn btn-sm float-right cmp-bg-primary txt-primary">Save</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" formControlName="Name" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" formControlName="Address" class="form-control" id="address">
                </div>
                <div class="form-group">
                    <label for="gstno">GST No</label>
                    <input type="text" formControlName="GSTNo" class="form-control" id="gstno">
                </div>
                <div class="form-group">
                    <label for="phoneno">Phone No</label>
                    <input type="text" formControlName="PhoneNo" class="form-control" id="phoneno">
                </div>
                <div class="form-group">
                    <label for="dlno">DL No</label>
                    <input type="text" formControlName="DLNo" class="form-control" id="dlno">
                </div>
                <div class="form-group">
                    <label for="ExpAlertDays">Exp Days Alert</label>
                    <input type="text" formControlName="ExpAlertDays" class="form-control" id="ExpAlertDays">
                </div>
                <!-- <div class="form-group">
                    <label for="active">Active</label>
                    <div class="form-control border-0">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" formControlName="status" type="radio" id="active-yes" [value]="1">
                            <label class="form-check-label" for="active-yes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" formControlName="status" type="radio" id="active-no" [value]="0">
                            <label class="form-check-label" for="active-no">No</label>
                        </div>
                    </div>
                </div> -->
                <input type="hidden" formControlName="SNo">
                <!-- <a routerLink="/master/settings">
                    <button type="button"  class="btn btn-sm btn-primary txt-primary">Cancel</button>
                </a> -->
                <!-- <button type="submit" class="btn mx-2 btn-sm cmp-bg-primary txt-primary"
                    [disabled]="!editForm.valid">Save</button> -->
            </div>
        </div>
    </form>
</div>