.title{
    font-size: 2rem;
}

.title::after{
    content: "MEDICAL STORE";
    color: var(--text-color);
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
}

.navbar-brand{
    padding: 8px;
}

.dropdown-item,
.navbar-brand
{
    font-size: 0.9rem;
}

.active-menu{
    border-bottom: 1px solid;
}

@media only screen and (max-width: 786px) {
    .active-menu{
        border: unset;
    }
}