<app-dashboard-nav></app-dashboard-nav>
<div class="container">
    <!-- <div class="card">
        <div class="card-header" style="font-size: large;">
            <div class="row align-items-center">
                <div class="col-3">
                    <span>{{title}}</span>
                </div>
                <div class="col-6 mx-auto">
                    <input type="text" class="form-control float-right" placeholder="Search">
                </div>
                <div class="col-3">
                    <a rouerLink="/master/party-category/add">
                        <button type="button" class="btn btn-sm float-right cmp-bg-primary txt-primary">Add</button>
                    </a>
                    <button type="button" class="btn btn-sm float-right cmp-bg-primary mx-2 txt-primary">Delete</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>
                                <i class="fa fa-pencil-square-o fa-lg mx-2 txt-secondry" aria-hidden="true"></i>
                                <i class="fa fa-trash fa-lg mx-2 txt-secondry" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>
                                <i class="fa fa-pencil-square-o fa-lg mx-2 txt-secondry" aria-hidden="true"></i>
                                <i class="fa fa-trash fa-lg mx-2 txt-secondry" aria-hidden="true"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->
</div>