<div class="container-fluid theme-color">
    <div class="navbar">
        <a href="javascript:void(0);" class="navbar-brand d-none d-md-inline">
            <img src="assets/logo.png" alt="" class="rounded-circle" width="40px">
        </a>
        <div class="container">
            <a routerLink="/" class="home-nav txt-primary fix-spacing">
                <i class="fa fa-bars d-sm-none" aria-hidden="true"></i>&nbsp;Home
            </a>
            <img src="assets/logo.png" alt="" class="ml-auto fix-spacing rounded-circle d-md-none" width="30px">
            <span class="ml-auto title txt-primary fix-spacing d-none d-md-inline">
                Sahara Medical Store
            </span>
            <div class="ml-auto title fix-spacing">
                <button routerLink="/login"
                    class="btn mat-raised-button ml-auto cmp-bg-primary txt-primary">Login</button>
            </div>
        </div>
    </div>
</div>