<app-login-nav></app-login-nav>
<div class="container">
    <div class="my-md-5 my-4 text-center">
        <h1>Lorem Ipsum</h1>
    </div>
    <hr>
    <div class="d-flex flex-md-row flex-column">
        <div class="my-1 my-md-auto pr-md-3 text-justify">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
            make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic
            typesetting,
            remaining essentially unchanged.
        </div>
        <div class="my-3 my-md-0 pt-4 pt-md-0 pl-md-3 text-justify">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
            make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic
            typesetting,
            remaining essentially unchanged.
        </div>
    </div>
</div>